.animationShow{
  animation: showTabs .6s;
}

.animationHide{
  animation: hideTabs .6s;
}
@keyframes showTabs {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}@keyframes hideTabs {
   0%{
     opacity: 1;
   }
   100%{
     opacity: 0;
   }
 }